@import url('./about_us.css');
@import url('./price.css');

.container-fluid.first-block {
    max-width: 1440px;
    height: 821.51px;
    background-image: url('../../img/home/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.header-pos {
    top: 5%;
}

.red-express__look-cargo h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 140%;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}

.red-express__look-cargo .search-cargo {
    margin-top: 43px;
    padding: 12px 32px;
    background: #44B069;
    border-radius: 6px;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    border: none;
    z-index: 1;
}
.red-express__img .green-left {
    max-width: 380px;
    max-height: 116.52px;
    width: 34.7222222222vw;
    height: 8.09166666667vw;
    position: absolute;
    bottom: 1.38888888889vw;
    left: 0;
}
.red-express__img .pink-left {
    max-width: 420px;
    max-height: 116.52px;
    width: 29.1666666667vw;
    height: 8.09166666667vw;
    position: absolute;
    bottom: 1vw;
    left: 112px;

}
.red-express__img .green-right {
    max-width: 500px;
    max-height: 140.81px;
    width: 34.7222222222vw;
    height: 9.77847222222vw;
    position: absolute;
    bottom: 20%;
    right: 0;
    z-index: 1;
}
.red-express__img .pink-right {
    max-width: 62px;
    max-height: 116.52px;
    width: 4.30555555556vw;
    height: 8.09166666667vw;
    position: absolute;
    bottom: 20%;
    right: 0;
    z-index: 1;
}
.red-express__img .car-big {
    max-width: 627px;
    max-height: 360px;
    width: 43.5416666667vw;
    height: 25vw;
    position: absolute;
    top: 149px;
    right: 0;
    z-index: 2;
}

@media (max-width: 991px) {
    .red-express__img .car {
        max-width: 500px;
        width: 90vw;
        height: auto;
        position: absolute;
        bottom: -5%;
        right: 0;
        z-index: 2;
    }
    .container-fluid.first-block {
        height: 453px;
    }
    .container-fluid.first-block {
        margin-top: 54px;
        background-image: url(../../img/home/bg-md.png);
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 600px;
        height: 100vw;
    }
}

@media (max-width: 600px) {
    .red-express__look-cargo h1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 28px;
        line-height: 140%;
        font-feature-settings: 'salt' on, 'liga' off;
        color: #18191F;
    }
    .container-fluid.first-block {
        background-image: url('../../img/home/mob-bg.png');
        height: 700;
        background-size: cover;
    }
}

@media (max-width: 475px) {
    .container-fluid.first-block {
        height: 560px;
    }
}
